.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  background: linear-gradient(236deg, #B890FA 28.35%, #AA76FF 76.28%);
  height: 60vw;
}

.menu{
  position: absolute;
  top: 0;
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: end;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 0%, rgba(246, 226, 255, 0.90) 50%, rgba(233, 220, 255, 0.90) 100%);
  backdrop-filter: blur(7.5px);
  padding-right: 10%;
  button{
    color: #1F2260;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 50.262px;
  }
}

.title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  //font-size: 300px;
  font-size: max(50px, 12vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #FFF;
  color: transparent;
  .sp1{
    position: absolute;
    top:21%;
    left: 37%;
  }
  .sp2{
    position: absolute;
    top:35%;
    left: 42%;
  }
  .sp3{
    position: absolute;
    top:49%;
    left: 55.5%;
  }
}

.overlay {
  position: absolute;
  top: 4%;
  left: 0;
  width: 40%;
  height: 63%;
  opacity: 0.9;
  mix-blend-mode: overlay;
}

.overlay2 {
  position: absolute;
  top: 1%;
  left: 66%;
  width: 37%;
  height: 63%;
  opacity: 0.9;
  mix-blend-mode: overlay;
}

.overlay3 {
  position: absolute;
  top: 58%;
  left: 16%;
  width: 37%;
  height: 63%;
  opacity: 0.9;
  mix-blend-mode: overlay;
}
.overlayBackground {
  position: absolute;
  top: 4.5%;
  left: 43%;
  width: 64%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.flowers{
  position: absolute;
  width: 18%;
  top: 30%;
  left: -1%;
}
